/* chicken:https://themes.pixelstrap.com/fastkart/assets/images/vegetable/banner/9.jpg
mushroom:https://themes.pixelstrap.com/fastkart/assets/images/vegetable/banner/10.jpg
cashback:https://themes.pixelstrap.com/fastkart/assets/images/vegetable/banner/15.jpg
get ready to:https://themes.pixelstrap.com/fastkart/assets/images/vegetable/banner/12.jpg
20%off:https://themes.pixelstrap.com/fastkart/assets/images/vegetable/banner/13.jpg */
 /* seafood fresh:'https://themes.pixelstrap.com/fastkart/assets/images/vegetable/banner/8.jpg' */

 /* organic Fresh:https://themes.pixelstrap.com/fastkart/assets/images/vegetable/banner/11.jpg */

 /* bg begetable:https://themes.pixelstrap.com/fastkart/assets/images/vegetable/banner/14.jpg */


 /* blog1:https://themes.pixelstrap.com/fastkart/assets/images/vegetable/blog/1.jpg

 blog2:https://themes.pixelstrap.com/fastkart/assets/images/vegetable/blog/2.jpg
 blog3:https://themes.pixelstrap.com/fastkart/assets/images/vegetable/blog/3.jpg */








/* .slide-contents{
     margin-left: 120px;
    animation: scroll 5s linear infinite;}
   
    @keyframes scroll {
        0%   { transform: translateX(0); }
        100% { transform: translateX(-100%); }
      } */
      
      /* .slide1:hover{
        background: url('../Assest/bg.jpg');
      } */